<%# banner %>
<div class="list-page-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : asset_path('list_background.jpg') %>'); " >
  <strong><h1><%= @list.name %></h1> </strong>
  <p><%= link_to '+ Add a movie', new_list_bookmark_path(@list) %></p>
</div>
<%# banner END %>
<br>


<div class="container">


<%# Movie cards %>
<div class="row no-gutters">
  <% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <div class="col-sm-12 col-md-6 col-lg-4 p-2">   
      <div class="card">
        <img class="card-img-top" src="https://picsum.photos/id/16/300/200" alt="Card image cap">
        <div class="card-body">
          <h3><%= movie.title %></h3>
          <p><%= movie.overview %></p>
          <p>"<i><%= bookmark.comment %></i>"</p>

          <%= link_to 'delete', bookmark_path(bookmark), 
          method: :delete, 
          data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, 
          class: 'text-danger' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<%# Movie cards END %>

<hr>

<div class="container py-5">
  <div class="d-flex justify-content-between">
    <%# Reviews %>
    <div>
      <h4><strong>Reviews</strong></h4>
      <% @list.reviews.each do |review| %>
        <ul>
          <li>
          <%= review.comment %> <%= '⭐️' * review.rating %>
          </li>
        </ul>
      <% end %>
    </div>
    <%# Reviews END %>

    <%# Review form %>
    <div>
      <div class="bg-light p-3 shadow card-rounded">
        <h5>Add your review</h5>
        <%= simple_form_for [@list, @review] do |f| %>
            <%= f.input :comment, placeholder: 'Add your review here'  %>
            <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { id: 'review_rating' }  %>
            <%= f.submit class: 'btn btn-primary form-btn-rounded' %>
        <% end %>

      </div>
    </div>
  </div>
</div>
<hr>
<%# Review form END %>


  <%# Modal -- Delete %>
  <!-- Button trigger modal -->
  <%= link_to 'Delete this list', list_path(@list), 
  method: :delete, 
  data: { confirm: "Are you sure you want to delete #{@list.name.upcase} list?"}, 
  class:'btn btn-primary text-white'  %>



  


<br>
<br>
</div>
