<%# banner %>
<div class="list-page-banner" style="background-image: url('<%= image_path "list_background.jpg", alt: "hero image" %>'); " >
  <strong><h1><%= @list.name %></h1> </strong>
  <p><%= link_to '+ Add a movie', new_list_bookmark_path(@list) %></p>
</div>
<%# banner END %>
<br>
<hr>

<div class="container">


<%# Movies %>
<% @list.movies.each do |movie| %>
 <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
 <h3><%= movie.title %></h3>
 <p><%= movie.overview %></p>
 <p>"<i><%= bookmark.comment %></i>"</p>

 <%= link_to 'delete', bookmark_path(bookmark), 
      method: :delete, 
      data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, 
      class: 'text-danger' %>
 <hr>
<% end %>
<%# Movies END %>


<%# Reviews %>
<h4><strong>Reviews</strong></h4>
<% @list.reviews.each do |review| %>
<ul>
     <li>
     <%= review.comment %> <%= '⭐️' * review.rating %>
     </li>
</ul>
<% end %>
<%# Reviews END %>
<br>
<hr>


<%# Review form %>
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">

        <h5>Add your review</h5>
        <%= simple_form_for [@list, @review] do |f| %>
            <%= f.input :comment, placeholder: 'Add your review here'  %>
            <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { id: 'review_rating' }  %>
            <%= f.submit class: 'btn btn-primary' %>
        <% end %>

      </div>
    </div>
  </div>
</div>
<%# Review form END %>


  <%# Modal -- Delete %>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary text-white" data-toggle="modal" data-target="#exampleModal">
   Delete this list <%= link_to '', list_path(@list), method: :delete, data: { confirm: 'Are you sure?'}  %>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete this list</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the <%= @list.name %> list ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <%# Modal END %>
<br><br>

</div>
